@media (max-width: 1199px){
	.card-item {
    padding: 35px;
}
.partner-section .card h4 {
    font-size: 16px;
    padding: 7px;
}
.client-section img {
    height: 35px;
}
.client-section .picture {
    padding: 35px;
}

}

@media (max-width: 991px){
	.partner-section h2 {
    padding: 20px 100px 20px calc(60% - 555px);
}
.client-section .picture {
    padding: 25px;
}
.client-section img {
    height: 30px;
}
}

@media (max-width: 767px){
	.number {
    text-align: center;
}
}
@media (max-width: 575px){
	footer ul {
    text-align: center;
}
footer p {
    text-align: center;
}
.partner-section {
    padding-top: 110px;
}
.partner-section h2 {
    padding: 10px 70px 10px calc(60% - 555px);
}
.partner h1 {
    font-size: 45px;
}
.client-section h1 {
    font-size: 45px;
}
.number {
    text-align: center;
}
.collapse ul li {
    padding: 0px;
}
}
